.container {
  display: flex;
  flex-direction: column;

  .user {
    align-self: flex-end;
    max-width: 60%;

    .bubble {
      background: #1e293b;
      color: #e2e8f0;
      border-radius: 1rem;
      border-bottom-left-radius: 0.25rem;
      margin: 2.5rem 0;
      padding: 0.75rem 0.9rem;
      font-size: 0.9rem;
      line-height: 1.5;

      .user-message {
        white-space: pre-wrap;
      }
    }
  }

  :host ::ng-deep .bot {
    line-height: 1.6;
    align-self: flex-start;
    max-width: 100%;

    .bubble {
      margin: 0;
    }

    h1,
    h2,
    h3 {
      margin: 0.6rem 0;
      font-weight: 600;
    }

    p {
      margin: 0.5rem 0;
    }

    pre {
      background: #0d1117;
      padding: 0.75rem;
      border-radius: 0.6rem;
      overflow-x: auto;
    }

    code {
      color: #00ffcc;
      font-family: monospace;
    }
  }

  .actions {
    display: flex;
    gap: 0.5rem;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0.3rem;
    }
  }

  .actions .actions button:hover {
    background: #2a2a2a;
  }
}

.material-symbols-outlined {
  color: #b4b4b4;
  font-size: 1rem;
}